## springboot
# Compiled class file
*.class

# Log file
*.log

# Maven target directory
target/

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ IDEA project files
.idea/
out/
*.iml
*.ipr
*.iws

# NetBeans project files
nbproject/
build/
nbbuild/
dist/
nbdist/

# CMake
cmake-build-*/
bin/
build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

## vue
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
